
.div{
  background-color: white;
  color: black;
  background-color: rgb(160, 216, 152);
  margin: auto;
  padding: auto;
  text-align: center;
  align-items: center;
  
}
button{
  border: none;
  background-color: darkgoldenrod;
  color: crimson;
  width: 80px;
  height: 30px;
  border-radius: 8px;
  cursor: pointer;
}
